<!DOCTYPE html>
<html lang="en">
<head>
	<title>Languages - Index Phonemica</title>
	<%- include ../partials/head %>
</head>
<body>
	<%- include ../partials/header %>
	<table>
		<thead>
			<tr>
				<th>Inventory ID</th>
				<th>Name</th>
				<th>Dialect</th>
				<th>Source</th>
				<th>Bibkey</th>
		</thead>
		<tbody>
			<% language.forEach(function (doculect) { %>
				<tr>
					<td>
						<a href="/doculects/<%= doculect.inventory_id %>">
							<%= doculect.inventory_id %>
						</a>
					</td>
					<td>
						<%= doculect.name %>
					</td>
					<td>
						<%= doculect.dialect_name %>
					</td>
					<td>
						<%- include('../partials/source_short', {doculect: doculect}) %>
					</td>
					<td>
						<%- include('../partials/source_bibkey', {doculect: doculect}) %>
					</td>
				</tr>
			<% }) %>
		</tbody>
	</table>
</body>
</html>