<!DOCTYPE html>
<html lang="en">
<head>
	<title>Doculects - Index Phonemica</title>
	<%- include ../partials/head %>
</head>
<body>
	<%- include ../partials/header %>
	<ul>
		<table>
			<thead>
				<tr>
					<th>Doculect ID</th>
					<th>Language</th>
					<th>Source</th>
					<!-- TODO: consonant/vowel/tone count? include syllabic consonants in vowels obv -->
					<!-- we might want to precompute this in the import scripts -->
				</tr>
			</thead>
			<tbody>
				<% doculects.forEach(function (doculect) { %>
					<tr>
						<td>
							<a href="/w/doculects/<%= doculect.inventory_id %>">
								<%= doculect.inventory_id %>
							</a>
						</td>
						<td>
							<a href="/w/languages/<%= doculect.glottocode %>">
								<%= doculect.language_name %>
							</a>
						</td>
						<td>
							<% if (doculect.source_url) { %>
								<a href="<%= doculect.source_url %>">
									<%= doculect.source_author %>.
									<%= doculect.source_title  %>.
									<%= doculect.source_year   %>.
								</a>
							<% } else { %>
								<%= doculect.source_author %>.
								<%= doculect.source_title  %>.
								<%= doculect.source_year   %>.
							<% } %>
						</td>
					</tr>
				<% }) %>
			</tbody>
		</table>
	</ul>
</body>
</html>