<!DOCTYPE html>
<html lang="en">
<head>
	<title>Segments - Index Phonemica</title>
	<%- include ../partials/head %>
</head>
<body>
	<%- include ../partials/header %>
	<table>
		<thead>
			<tr>
				<th>Segment</th>
				<th>Frequency</th>
			</tr>
		</thead>
		<tbody>
			<% segments.forEach(function (segment) { %>
				<tr>
					<td>
						<a href="/w/segments/<%= segment.segment %>">
							<%= segment.segment %>
						</a>
					</td>
					<td><%= segment.frequency %></td>
				</tr>	
			<% }) %>
		</tbody>
	</table>
</body>
</html>