<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= segment %> - Index Phonemica</title>
	<%- include ../partials/head %>
</head>
<body>
	<%- include ../partials/header %>
	<h1><%= segment %></h1>
	<h2>Features</h2>
	<table>
		<% Object.entries(segment_props).forEach(function (prop) { %>
			<tr>
				<th><%= prop[0] %></th>
				<td><%= prop[1] %></td>
			</tr>
		<% }) %>
	</table>
	<h2>Appears in:</h2>
	<ul>
		<% listings.forEach(function (listing) { %>
			<li>
				<a href="/doculects/<%= listing.inventory_id %>">
					<%= listing.inventory_id %>
				</a>
			</li>
		<% }) %>
	</ul>
</body>
</html>